{% extends 'base.html' %}
{% block pagetitle %} All Categories {% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 bg-white">
                <h2>Categories</h2>
                <ul class="category-list">
                    {% for category in categories %}
                        <li><a href="{{url_for('showItemsInCategory', category_id=category.id)}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4 col-sm-offset-1 bg-white divider">
                <h2>Latest Items</h2>
                <ul class="custom-list">
                    {% for item in recent_items %}
                        <li>
                            <a href="{{url_for('showItem', item_id=item.id)}}">
                            {{item.name}} <i style="color : #767676">({{item.category.name}})</i>
                            {% if item.user_id == logged_in_user_id%}
                                <a class="btn btn-sm btn-default"
                                    href="{{url_for('editItem', item_id=item.id)}}">Edit
                                </a>
                                <a class="btn btn-sm btn-default"
                                   href="{{url_for('deleteItem', item_id=item.id)}}">Delete
                                </a>
                            {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <a href="{{url_for('createItem')}}" class="btn btn-sm btn-default">Add New Item</a><br><br>
                <a href="{{url_for('createCategory')}}" class="btn btn-sm btn-default">Add New category</a><br>
            </div>
        </div>
        <footer>
            <div class="row" id="bottom-bar">
                        <div class="col-sm-5 col-sm-offset-3">
                            <span style="color:#fff;">JSON endpoint for all items can be accessed using the url :
                            <b style="color:blue;">
                                http://localhost:8000/catalog.json
                            </b>
                            </span>
                        </div>
                    </div>
        </footer>
    </div>

{% endblock %}